<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
      <br>
      <div>
        <div class="col-sm-8">
          <hr/>
          <dl class="dl-horizontal">
            <dt>Ratings</dt>
            <dd></dd>
          <% @product.reviews.each do |r| %>
            <dt>Rating:</dt>
            <dd><%= r.rating %></dd>
            <dt>Review:</dt>
            <dd><%= r.description %></dd>
            <dt>user:</dt>
            <dd><%= r.user_id %></dd>
          <% end %>
          </dl>
          <hr/>
        </div>
      </div>
    </div>

  </article>

</section>

<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for([@product, @review]) do |form| %>
        <div class="form-group">
          Leave a review
          <%= form.text_area :description, class: 'form-control' %>
        </div>

        <div class="form-group">
          Rating
          <%= form.select :rating, ['1', '2', '3', '4', '5'], class: 'form-control' %>
        </div>

        <%= form.submit 'Create Product', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>